body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  /* background-color: gray; */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 65% 35%;
}
.poster {
  place-items: center;
  max-width: 80%;
  max-height: 100%;
  padding-left: 10%;
}
/* .img {
  background-color: red;
} */
.content {
  place-items: center;
  padding-left: 10%;
  height: 100%;
  /* background-color: green; */
}
.story {
  /* background-color: blue; */
  grid-column: 1 / -1;
}
.content_headtitle {
  font-size: 400%;
}
.content_font {
  font-size: 3rem;
}
.margin_t {
  margin-top: 1%;
}
.margin_b {
  margin-bottom: 5rem;
}
.review_btn {
  height: 6rem;
  width: 40%;
}
.font_btn {
  font-size: 2rem;
  border: 2px solid #000;
  border-width: 2px 2px;
  position: relative;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
}
.padding_15 {
  padding-left: 5%;
}
