.header {
  width: auto;
  height: 100px;
}
.center {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Flex {
  display: flex;
  flex-direction: row;
}
.Flex_c {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.w-30 {
  width: 30%;
}
.pl_13 {
  padding-left: 13%;
}
.p_07 {
  padding: 0 7%;
}
.m_70 {
  margin: 50px 0;
}
.m_40 {
  margin: 40px 0;
}

.gap {
  display: grid;
  gap: 20% 0;
}
.font50 {
  font-size: 50px;
}
.font40 {
  font-size: 40px;
}
.font25 {
  font-size: 30px;
}
.review_btn {
  width: auto;
  height: 60px;
}
